# Public Environment Variables
NEXT_PUBLIC_SITE_URL=https://ha-hoang-vy.vercel.app
NEXT_PUBLIC_GITHUB_URL=https://github.com/HAVY24/My_Porfolio
NEXT_PUBLIC_LINKEDIN_URL=https://www.linkedin.com/in/h%C3%A0-v%E1%BB%B9-001ab3278/
NEXT_PUBLIC_EMAIL=mailto:[vy11098@gail.com]
